aiohttp==3.8.1
aiohttp-cors==0.7.0
aiohttp-jinja2==1.5
aiosignal==1.2.0
anyio==3.6.2
async-timeout==4.0.2
asyncer==0.0.1
attrs==22.1.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
Flask==2.2.2
Flask-SocketIO==5.3.1
Flask-SQLAlchemy==3.0.2
importlib-metadata==5.0.0
ipykernel==6.12.1
ipython==8.2.0
Jinja2==3.1.2
jsonify==0.5
jsonschema==3.2.0
PyMySQL==1.0.2
PySocks==1.7.1
requests==2.27.1
requests-file==1.4.3
requests-unixsocket==0.2.0
SQLAlchemy==1.4.43
sqlparse==0.4.3
Werkzeug==2.2.2