{% extends 'base.html' %}

{% block title %}
Add fact about Lulza
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1>Adding interesting fact</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Name of fact"><br>
        <textarea type="text" name="text" id="text" class="form-control" placeholder="Put your fact in this area"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</div>

{% endblock %}