{% extends 'base.html' %}

{% block title %}
Lulza
{% endblock %}

{% block body%}
<h1>Wonderful Lulza's photos</h1>
<img style="width: 300px; height: auto;" src="{{ url_for('static', filename='images/1.jpg') }}">
<img style="width: 300px; height: auto;" src="{{ url_for('static', filename='images/2.jpg') }}">
<img style="width: 300px; height: auto;" src="{{ url_for('static', filename='images/3.jpg') }}">
<img style="width: 300px; height: auto;" src="{{ url_for('static', filename='images/4.jpg') }}">
<img style="width: 300px; height: auto;" src="{{ url_for('static', filename='images/9.jpg') }}">
<img style="width: 553px; height: auto;" src="{{ url_for('static', filename='images/5.jpg') }}">
<img style="width: 312px; height: auto;" src="{{ url_for('static', filename='images/6.jpg') }}">
<img style="width: 312px; height: auto;" src="{{ url_for('static', filename='images/7.jpg') }}">
<img style="width: 327px; height: auto;" src="{{ url_for('static', filename='images/8.jpg') }}">

{% endblock %}